[2022-07-22 11:18] Gobastos opened #1 "Weatherproof Temperature Sensor | Temperature shown is the max temperature and not the current temperature"
**Describe The Bug:**
First of all, many thanks for making this plugin available. This is something I was expecting since long time
I have currently 3 YOLINK accessories: 1 speaker hub, 1 water leak sensor and 1 weatherproof temperature sensor that I use to measure the temperature of my swimming pool.

It seems that the temperature of the Temperature Sensor shown in Homekit is not the current temp

[2022-07-22 11:40] Gobastos opened #2 "Water Leak Sensor does not change the status after detecting a leak"
**Describe The Bug:**

After detecting a water leak, a critical alert is triggered in homekit which is the correct behaviour.
However, when the water leak is solved (no more water in the sensor) the water leak sensor does not change its status

**To Reproduce:**

**Expected behavior:**
The leak dectected status in homekit should only last while the sensor has water in its contacts.
It should chang

[2022-07-22 12:30] dkerr64 commented on #1
First of all, THANK YOU!!!  I'm delighted that someone has found this and is giving it a try.  For the temperature, I think what is happening is that Apple Home is rounding the temperature to the nearest whole number... I observed this myself.  Can you try changing the max value you set in the YoLink app please to check that Homebridge / HomeKit doesn't start showing your new maxValue (restart Hom

[2022-07-22 12:32] dkerr64 commented on #2
Thank you for reporting.  Indeed it looks like I have a bug.  I'll have a fix for you this weekend.  Thanks for providing the full debug message, that helps.

David

[2022-07-22 12:56] dkerr64 commented on #2
I pushed a fix, try updating and it should work now.
Thanks for reporting.
David

[2022-07-22 14:15] Gobastos commented on #2
Hi David,
Many thanks for the fix.
It's working now

[2022-07-22 14:15] #2 closed

[2022-07-22 15:10] Gobastos commented on #1
You are a Star David!
I've done what you've suggested and you are absolutely right!
Apple Home is rounding the temperature by 0.5 degrees, therefore if the temperature is 33.9, it rounds to 34. Right now the temperature is 34.6 degrees and Apple Home rounds to 34.5.

Thank you very much for your support!
PS: I will share the existence of this plugin in some YoLink foruns

[2022-07-25 16:37] Gobastos opened #7 "Temperature & Humidity Sensor | Hide Humidity values"
**Is your feature request related to a problem? Please describe:**

I am currently using the "Temperature and Humidity Sensor with probe" to measure the temperature of my swimming pool.
The probe is immersed in the swimming pool water and for this use case it doesn't make sense to read the humidity (altough the humidity readings are always zero which doesn't make sense either)

**Describe the solu

[2022-07-25 18:21] dkerr64 commented on #7
I think the best way to do this is to suppress the Hydrometer "service" so that it doesn't even appear in Homebridge / HomeKit.  I think there are two options.

1. provide for a configuration setting.  I could extend the "hide" from a boolean true/false to allow for "true, false, hydro, thermo" for example.  Then in your case we could set "hide": "thermo" in the config.
2. or if there is a way to

[2022-07-25 19:01] Gobastos commented on #7
Hi David
Indeed the first option would be the best.
In order no not break existing installs, wouldn't be possible to have this new configuration parameter as optional, meaning if it is not set, is assumes true by default for both services and if it is set, it assumes the boolean value specified ?
Thanks.
Guilherme

[2022-07-26 00:18] dkerr64 commented on #7
I just published an update with this feature added.  Thanks for the suggestion.

[2022-07-26 07:20] Gobastos commented on #7
Many Thanks David,
It's working perfectly
Best Regards, Guilherme

[2022-07-26 07:20] #7 closed

[2022-08-08 21:11] dkerr64 opened #9 "Crash in mqttValveDevice"
**Describe The Bug:**

Crash in mqttValveDevice, see log

**To Reproduce:**

Unknown

**Expected behavior:**

Error should be handled without crash

**Logs:**

[code]

**Plugin Config:**

[code]

**Screenshots:**

**Environment:**

* **Plugin Version**:
* **Homebridge Version**:
* **Node.js Version**:
* **NPM Version**:
* **Operating System**:

[2022-08-09 20:43] ShamelessWizard opened #10 "Crash on Unknown Device Type"
I found a crash due to unknown device types.

I have the Siren Alarm, Key Fob and Gate Sensors that were causing a type error to be thrown and eventually homebridge crashes. If I create entries for the unsupported devices and select hide from HomeKit then the errors stop and the server can start.

I've added some logs, but even with verbose it isn't horribly useful. Additionally, we can probably d

[2022-08-09 20:44] ShamelessWizard commented on #10
Here are some logs ...

[8/9/2022, 3:50:57 PM] Homebridge v1.5.0 (HAP v0.10.2) (Homebridge 2E75) is running on port 51089.
[8/9/2022, 3:50:57 PM] [Sonos] listening on http://0.0.0.0:38171/notify
[8/9/2022, 3:50:57 PM] [Sonos] hardware: x64
[8/9/2022, 3:50:57 PM] [Sonos] os: Fedora Linux 36 (Server Edition)
[8/9/2022, 3:50:57 PM] [Sonos] restored 1 accessories from cache
[8/9/2022, 3:50:58 PM] [Son

[2022-08-09 22:02] dkerr64 opened #11 "Crash when get token fails on timeout or when network link fails"
**Describe The Bug:**

see log
**To Reproduce:**

see log
**Expected behavior:**

handle gracefully, attempt reconnect on failure.
**Logs:**

[code]
And...
[code]

**Plugin Config:**

[code]

**Screenshots:**

**Environment:**

* **Plugin Version**:
* **Homebridge Version**:
* **Node.js Version**:
* **NPM Version**:
* **Operating System**:

[2022-08-09 22:09] dkerr64 commented on #10
Thanks for reporting the bug.  Crash is bad, I had intended to gracefully report when an unknown device was found, clearly I don't have it right yet.

Can you turn on debug please (in the UI select ... menu at top right, then homebridge settings, and turn on debug mode) then (without hiding any device) capture for me the debug statements for each of the devices that start with "SENDING:" and "RECE

[2022-08-09 23:05] ShamelessWizard commented on #10
I know how to handle this in python and raise the error rather then let TypeError bubble up, but I can't offer much 'good' help in js.

I have scrubbed the log. I'm a little worried about the response back. Worst case, I may need to enable each failing device and get you a new log for each one.

here is a map of the unknown devices to keep things sane.

Name: Front Gate
EUI: d88b4c010003e4d9
Model

[2022-08-09 23:05] dkerr64 commented on #10
Okay, so I see why it crashed, my fault.  Let me push a fix for that so it doesn't crash.  Then I can work with you on adding support for those new devices.

[2022-08-09 23:54] #9 closed

[2022-08-09 23:57] dkerr64 opened #13 "Add support for YoLink DoorSensor"
**Describe the solution you'd like:**
Add support for YoLink DoorSensor

[2022-08-09 23:58] dkerr64 opened #14 "Add support for YoLink Siren"
**Describe the solution you'd like:**
Add support for YoLink Siren

[2022-08-09 23:59] dkerr64 opened #15 "Add support for YoLink Key Fob"
**Describe the solution you'd like:**
Add support for YoLink Key Fob

[2022-08-10 00:04] dkerr64 commented on #10
I have (hopefully) fixed the crash in version 1.0.7 that I just published.  Please install that.  I have also opened three new issues to track adding support for the door sensor, siren and key fob.  Please add into those issues the details I need to implement support... specifically the logs that give me the SENDING and RECEIVED data, plus any MQTT messages that are received, I need those too (pre

[2022-08-10 00:04] #10 closed

[2022-08-10 00:27] ShamelessWizard commented on #10
Will do.. I will even generate a siren alarm as much as it pains me.

[2022-08-10 00:34] ShamelessWizard commented on #10
Here is the log after removing devices and restarting.

Somehow, only my last update went through.  I will generate the events in the next log.

Build is working.

[homebridge.log](https://github.com/dkerr64/homebridge-yolink/files/9295525/homebridge.log)

[2022-08-10 02:23] dkerr64 commented on #10
Thanks for the log.  There is enough here for me to get the skeleton in place to support these devices.  Please wait a few days for that, I'll get back to you when I'm ready for next test.

[2022-08-10 02:25] dkerr64 commented on #15
Sample device json to handle...
[code]

[2022-08-10 02:26] dkerr64 commented on #14
Sample device json...
[code]

[2022-08-10 02:27] dkerr64 commented on #13
sample device json...
[code]

[2022-08-10 18:12] ShamelessWizard commented on #13
This is a nice clean log of the gate being opened and closed.

[8/10/2022, 2:09:47 PM] [YoLink] mqtt received: yl-home/c460b484e49b4c08b33647d9815c9741/d88b4c010003e4d9/report
{"event":"DoorSensor.Alert","time":1660154987072,"msgid":"1660154987071","data":{"state":"open","alertType":"normal","battery":4,"version":"0703","loraInfo":{"signal":-77,"gatewayId":"d88b4c1603011301","gateways":1},"stateCh

[2022-08-10 18:15] ShamelessWizard commented on #15
I went through all four button presses.

[8/10/2022, 2:08:09 PM] [YoLink] mqtt received: yl-home/c460b484e49b4c08b33647d9815c9741/d88b4c0100038868/report
{"event":"SmartRemoter.StatusChange","time":1660154889197,"msgid":"1660154889197","data":{"event":{"keyMask":4,"type":"Press"},"battery":4,"version":"0405","devTemperature":26,"loraInfo":{"signal":-77,"gatewayId":"d88b4c1603011301","gateways":1}}

[2022-08-10 18:17] ShamelessWizard commented on #14
This was generated by setting the alarm state through the yolink app and then disabling the alarm state.

[8/10/2022, 2:16:03 PM] [YoLink] mqtt received: yl-home/c460b484e49b4c08b33647d9815c9741/d88b4c010003b80d/report
{"event":"Siren.getState","time":1660155363764,"msgid":"1660155363763","data":{"state":"normal","soundLevel":3,"battery":4,"powerSupply":"usb","alarmDuation":30,"version":"030a","mu

[2022-08-10 18:33] dkerr64 commented on #13
Excellent.   Thank you.  I'm working on DoorSensor first so this is timely.

[2022-08-10 21:48] dkerr64 commented on #13
Please try version 1.0.8 that I just published.  As experimental you must add `"enableExperimental": true` to the config settings.
Also, turn on debug please and capture the SENDING: and RECEIVED: traffic to door sensor and a report it here...  YoSmart's documentation is not alway correct and as I don't have one of these devices I cannot test myself.  For example in the above MQTT messages the fie

[2022-08-10 21:50] dkerr64 commented on #15
Thanks for the example button pressing.  It looks like there is [no documentation](http://doc.yosmart.com/docs/overall/intro) for this key fob at the YoLink site.  I have ordered one as I think I will need actual device in hand to get this one working.

[2022-08-10 22:16] ShamelessWizard commented on #13
open/close

[8/10/2022, 6:16:03 PM] [YoLink] mqtt received: yl-home/c460b484e49b4c08b33647d9815c9741/d88b4c010003e4d9/report
{"event":"DoorSensor.Alert","time":1660169763879,"msgid":"1660169763879","data":{"state":"open","alertType":"normal","battery":4,"version":"0703","loraInfo":{"signal":-78,"gatewayId":"d88b4c1603011301","gateways":1},"stateChangedAt":1660169763878},"deviceId":"d88b4c010003e4d

[2022-08-10 22:18] ShamelessWizard commented on #13
Reminder being triggered. This is a configurable field in the yolink app. Looks like default it is set to 20 seconds.

[8/10/2022, 6:17:13 PM] [YoLink] mqtt received: yl-home/c460b484e49b4c08b33647d9815c9741/d88b4c010003e4d9/report
{"event":"DoorSensor.Alert","time":1660169833682,"msgid":"1660169833681","data":{"state":"open","alertType":"openRemind","battery":4,"version":"0703","loraInfo":{"signa

[2022-08-10 22:21] ShamelessWizard commented on #13
![IMG_1118](https://user-images.githubusercontent.com/5283835/184030633-5c400cbd-a3d4-4029-b696-f7bab52a541d.PNG)

[2022-08-10 22:26] ShamelessWizard commented on #15
The buttons are configurable as well. That is probably the best route to take if you wish to incorporate it. Not a terrible purchase if your phone is unavailable and you have the alarm active.

[2022-08-10 22:50] ShamelessWizard commented on #13
There are four Alert types. I tried opening and closing with each setting. Occasionally, I would see a message stating the alarm strategy was undefined and then it was set on the device. Perhaps unsetting in the interface cleared this bit in the device.

Alarm State: "Door is Closed"

[8/10/2022, 6:38:41 PM] [YoLink] mqtt received: yl-home/c460b484e49b4c08b33647d9815c9741/d88b4c010003e4d9/report
{

[2022-08-10 23:23] ShamelessWizard commented on #13
[homebridge-8-10.log](https://github.com/dkerr64/homebridge-yolink/files/9305071/homebridge-8-10.log)

Here is just a full log with debug using experimental with one gate open and close at the end. This has the other data you were after. I have scrubbed the credentials.

[2022-08-10 23:36] ShamelessWizard commented on #13
This is a full log scrubbed with a door open/close and open too long alarm.

[homebridge-8-10.log](https://github.com/dkerr64/homebridge-yolink/files/9305114/homebridge-8-10.log)

[2022-08-11 00:40] dkerr64 commented on #13
Full log was very helpful, thank you.  I think its in good shape.  I'm not sure how "open remind" will work with HomeKit... the plugin will recognize it and update the contact sensor state, but I don't know if Apple Home does anything with it.

Is the accessory appearing correctly in homebridge / Apple home as a contact sensor?

Thanks

[2022-08-11 01:43] ShamelessWizard commented on #13
Oddly enough, I was busy getting logs and testing some permutations I completely forgot. Yes, it does show up as a contact sensor in Homekit. The remind does not seem to trigger any additional events. That would have been nice if I ignored the notice.

[2022-08-11 23:27] dkerr64 commented on #14
Can you try version 1.0.9 that I just published please.  You will need `"enableExperimental": true` in the config file.  Hopefully you will be able to trigger the siren from HomeKit, and also it should show state if triggered from another source (ie, from YoLink app).  In theory at least, but as I don't have one I can't test.

I implemented this as a HomeKit "switch" as there is no "siren" in Home

[2022-08-11 23:30] dkerr64 commented on #15
My key fob is supposed to arrive tomorrow, so will tackle this one after I am able to play with it and see what messages it generates.

[2022-08-12 01:06] ShamelessWizard commented on #14
I believe "switch" is the correct type as the only function the alarm app button and keyfob button are to start and stop the alarm.

I can disable an active siren with homekit, but I cannot start the siren. I have a variety of logs for your viewing pleasure and I included a scrubbed full log from the first trial.

This is from the YoLink App with just bring up the alarm button and then start/stop:

[2022-08-12 01:14] ShamelessWizard commented on #14
Looks like right now, it sends 'normal' regardless of the current state where as the logic should be to send 'alert' if the state is 'normal.'

I need to check the keyfob later, but the behavior should be the same.

homekit

[8/11/2022, 9:10:05 PM] [YoLink] SENDING:
{"time":1660266605,"method":"Siren.setState","targetDevice":"d88b4c010003b80d","token":"EB858E536361E5825980798770F30D69","params":{"

[2022-08-12 12:57] dkerr64 commented on #14
Well, that is the peril of trying to write code for a device without one to test with.  However I think I see the problem, my fault for not reading the documentation close enough.  There is a mistake in the JSON string I am sending up to YoLink to turn the alarm on/off.  I'll push an update for you to test later today.

[2022-08-12 19:53] dkerr64 commented on #14
Please try version 1.0.10 that I just published.  Thank you.

[2022-08-12 21:16] ShamelessWizard commented on #14
Works! Tested from my phone.  I’ll perform the tests and publish logs in a bit.

[2022-08-13 04:26] ShamelessWizard commented on #14
Had to deal with both front calipers with one bolt each being each sheered off due to "road maintenance" and a movie with the gf. I might need new rims, but we got logs!!!

From homekit everything works, but if the alarm is already in a active state homekit displays the position as 'off'. At that point I have to hit the switch in homekit to cycle to 'on' and then 'off' again.

It's late and it's l

[2022-08-13 14:17] dkerr64 commented on #14
There is one code path that I have not seen logs of yet... a path that should show a debug statement of RECEIVED: with a "getState" in the returned JSON data.  There should one like that shortly after restart... a whole series of SENDING: will appear, then quickly thereafter a series of RECEIVED.  There should be a "Siren.getState" sent and a corresponding reply further down.

It sounds like eithe

[2022-08-14 02:51] dkerr64 commented on #15
Please try 1.0.11 that I just published.  It will setup a stateless programmable switch for the Yolink key fob.  You can then attach actions to button press / double press / long press in HomeKit.  I have noticed that you will not see anything change in the user interface of either Homebridge or Apple Home / etc. when you press buttons.  But I did attach an action to turn on a light (single press)

[2022-08-16 22:53] hdinwiddie commented on #15
I'm not a developer, but just an eager user.  The keyfob is working with double-press and long press (no single press) and allows it to control Homekit scenes.  This is great and much appreciated.

[2022-08-17 00:55] #11 closed

[2022-08-17 00:59] dkerr64 commented on #15
@hdinwiddie can you turn on verbose logging and report what is logged when you single press the button please (note, 1.0.14 that I pushed just now converted all "debug" to "verbose" so it is not necessary to enable debug mode, just turning on verbose will get the maximum logging).  Thanks.

[2022-08-17 01:28] hdinwiddie commented on #15
I"m not sure if this is what you meant, but this is the result of a single, double, and long press with verbose turned on:
[16/08/2022, 21:25:11] [YoLink] [verbose] mqtt received: yl-home/3b2cba5564d345e1ae52a04878d2ce8f/d88b4c0100035d21/report
{"event":"SmartRemoter.StatusChange","time":1660699511008,"msgid":"1660699511006","data":{"event":{"keyMask":2,"type":"Press"},"battery":4,"version":"0403"

[2022-08-17 12:08] dkerr64 opened #22 "UnhandledPromiseRejectionWarning: TypeError during network usability. See log..."
Captured log...
[code]

[2022-08-17 12:17] dkerr64 commented on #15
@hdinwiddie I am not seeing the problem.  The log you sent me shows all three click types are recognized...
[code]
and hose are generated based on four distinct messages received from YoLink (it takes two messages within 800ms to register as a double click).

[2022-08-17 12:58] hdinwiddie commented on #15
David, you are right!  I must have misconfigured it.  I'm getting actions for all three types of button presses.  It works great. I'd love to see the YoLink outlets working.  Thanks for what you're doing.

[2022-08-17 21:04] dkerr64 opened #23 "Add support for YoLink outlet"
**Describe the solution you'd like:**
Support YoLink single- and multi-outlets.

[2022-08-17 21:08] dkerr64 commented on #15
@hdinwiddie I have opened a new issue #23 to log your request for adding YoLink outlets.  Can you provide a copy of the log entry that states "YoLink device type: xxx is not supported by this plugin" and put it into #23 please.  We can take it from there (will need some further log info, but only after I get the scaffolding in to support your outlets.

Thanks.

[2022-08-17 21:09] dkerr64 commented on #15
Closing this issue as I believe YoLink flex fob is now working.  If anyone finds a problem please open a new issue.  Thanks.

[2022-08-17 21:09] #15 closed

[2022-08-17 21:12] dkerr64 commented on #13
@ShamelessWizard can you send me a copy of the raw mqtt JSON message received when you get a open remind.  So far all I have seen is the message that is sent when the reminder period is changed.  But I don't see one for when that time period expires.  Thanks.

[2022-08-18 00:40] hdinwiddie commented on #15
Here are two results from my YoLink outlet/plugs for your consideration:
[17/08/2022, 20:37:24] [YoLink] YoLink device type: 'Outlet' is not supported by this plugin (deviceID: d88b4c01000446bf)
Please report all bugs at https://github.com/dkerr64/homebridge-yolink/issues
{"deviceId":"d88b4c01000446bf","deviceUDID":"11171e2fc4684121a11b768aee7a1988","name":"Eero Router Power","token":"529BEF3A9327

[2022-08-18 02:06] #22 closed

[2022-08-18 02:16] dkerr64 commented on #23
@hdinwiddie can you please test version 1.0.15 that I just published, I have added experimental support for single outlets.  I do not know if it will work so I would appreciate if you can capture logs with verbose enabled.  You will also have to enable experimental mode.  So in the config settings please set...
[code]
Let me know how it goes.

Thank you.

[2022-08-18 02:17] dkerr64 commented on #15
@hdinwiddie please continue outlet discussion over in #23.  Thanks.

[2022-08-18 03:02] dkerr64 commented on #23
@hdinwiddie I should add that what I did was simply tell the plugin to treat an outlet as a switch... a quick and dirty hack so can gather data on the info sent to/from the device.  So it will appear in home bridge as a switch not an outlet for now.

[2022-08-18 23:07] dkerr64 commented on #23
@hdinwiddie thanks for testing.  The error is unexpected, I will look into it.  Also, I have ordered a YoLink outlet which should arrive tomorrow... so good chance I will have single outlets working this weekend.

[2022-08-20 20:03] dkerr64 commented on #23
@hdinwiddie please try version 1.1 that I just published.

[2022-08-20 21:24] hdinwiddie commented on #23
I currently have three outlets plugged in and they're all working
perfectly.  I have several YoLink devices offline now on purpose and am
getting a lot of YoLink issues in the log as I restart the plugin.  I'll
just share that log as it is beyond my paygrade to be able to make sense of
it.

On Sat, Aug 20, 2022 at 4:03 PM David Kerr ***@***.***> wrote:

oLinkAPI.getDeviceState for Main Water Valve

[2022-08-20 21:29] dkerr64 commented on #23
You have lots of devices!!!  Thanks for the log, I will look through it as soon as I have time.

[2022-08-20 21:30] hdinwiddie commented on #14
I tested it, too, and my siren alarm is working perfectly.  Thank you.

[2022-08-20 22:06] dkerr64 commented on #23
I'l loving your log, lots of good stuff in here.  I will open separate issues to track implementing the finger device and multi-outlet.  I don't have either any while I might be tempted to buy the power strip, I'm not sure what I'd use the finger for!

The more interesting discussion is what to do about all the retry/errors.  I have observed this myself (see latest [README](https://github.com/dker

[2022-08-20 22:13] dkerr64 opened #28 "Add support for YoLink "finger" device"
**Describe the solution you'd like:**

Add support for YoLink "finger" device.

[code]
@hdinwiddie if you can please capture any other logs that reference this device please (e.g. use the YoLink app to press/release, that should trigger notifications on this plugin log.

[2022-08-20 22:15] dkerr64 opened #29 "Add support for YoLink MultiOutlet"
**Describe the solution you'd like:**

Add support for YoLink MultiOutlet

[code]

@hdinwiddie if you can please capture any other logs that reference this device please (e.g. use the YoLink app to turn on/off an outlet, that should trigger notifications on this plugin log.

[2022-08-20 22:27] dkerr64 commented on #14
@hdinwiddie thank you... next update I will remove the experimental flag from Siren

[2022-08-20 22:32] hdinwiddie commented on #23
I'm sure with the work you're doing for YoLink they'll give you whatever
you want if you just ask Eric.  He's been asked a lot of times about
Homekit and you're doing the work for them and it will help with their
sales for. certain folks.  They also have new stuff coming out all the time
and getting them to you, if you're willing, would be great for them.  I may
drop him a line myself...mentioning

[2022-08-20 23:10] dkerr64 commented on #23
@hdinwiddie you can certainly point Eric at this plugin.  I have not proactively mentioned this plugin on e.g. Reddit mainly because I wanted to mature it a bit... but I think I'm at the point where it is worth getting more eyes on it.

I have opened #28 and #29 to track finger and multi-outlet... please add any info (logs) you have on those devices there.  I suggest turning off debug (homebridge)

[2022-08-20 23:24] hdinwiddie commented on #23
I read about what you're doing on the YoLink Facebook page. I have to try
to find my mulit-outlet.  It's here someplace.

On Sat, Aug 20, 2022 at 7:10 PM David Kerr ***@***.***> wrote:

[2022-08-20 23:39] hdinwiddie commented on #23
I just got a note back from Eric asking what's the best way for him to get
in touch with you.  I'll tell you what, his business email is
***@***.*** and I'll tell him you'll let him know the contract
info..sound good?

On Sat, Aug 20, 2022 at 7:23 PM Hugh Dinwiddie ***@***.***> wrote:

[2022-08-21 01:25] dkerr64 commented on #23
@hdinwiddie Github blocks public sharing of email addresses, so I can't see the address you posted.  But I think I know his direct address, if not I certainly know the support address at YoSmart.  I'll send him an email.

[2022-08-21 01:31] hdinwiddie commented on #23
It's eric at yosmart ... note not yolink

On Sat, Aug 20, 2022 at 9:26 PM David Kerr ***@***.***> wrote:

[2022-08-21 01:34] dkerr64 commented on #23
yup, I knew that,  I just sent him an email.

On Sat, Aug 20, 2022 at 9:31 PM hdinwiddie ***@***.***> wrote:

[2022-08-21 01:35] #23 closed

[2022-08-21 13:05] hdinwiddie commented on #29
David, I found my multi-outlet and plugged it in and it's showing fine in YoLink.  I then restarted both Homebridge and your YoLink plugin a couple of times and am attaching the YoLink part here.  I'm seeing NO red faults this morning, but the multi outlet is not picked up.  This thing should end up with 5 switches...an all on/off (master), a switch for each of the four outlets, and a single switc

[2022-08-21 13:42] hdinwiddie commented on #29
David, I found a way of saving the log file in color if it helps at all.  If not, let me know and I'll continue to grab it as an ordinary text file.  There were some "red" entries in there.
[screencapture-homebridge-local-logs-2022-08-21-09_31_54-compressed.pdf](https://github.com/dkerr64/homebridge-yolink/files/9389199/screencapture-homebridge-local-logs-2022-08-21-09_31_54-compressed.pdf)

[2022-08-21 14:14] dkerr64 commented on #29
Thanks for both logs.  The color version is helpful as it helps focus in on the important stuff... but the text version is good too as I can then copy/paste the JSON (data in the curly braces).

Its interesting that you get so many "device offline" for your hub.  Suggests that this device really isn't connected to your YoLink account any more.  Hub's are not interesting for Hombridge... they don't

[2022-08-21 14:21] dkerr64 commented on #29
Here is the first interesting part from your log... info returned from the getState request.
[code]

_"open"_ means that the outlet of on, _"closed"_ means off.  But there are 8 members to the state array.  This report shows 5 on, 3 off.  A later log (in your color version, not the text) shows only the first on and all others off.  I'm thinking I can always assume that the first entry represents t

[2022-08-21 14:24] hdinwiddie commented on #29
I have a hub I use for demo purposes as I occasionally teach smart home
classes for my large retirement community computer club (2500+ members) as
I'm going to do this week.  I was going to ask you if it would be possible
to have the system able to stop looking so hard for devices that might be
purposely offline for a period of time, especially plug-in devices. I know
that time would be hard to de

[2022-08-21 14:26] dkerr64 commented on #29
There is also (in the color version, so I can't copy/paste) in orange a _MQTT: Outlet.powerReport_ message that I am not handling.  This is coming from a different device, not your power strip.  HomeKit does not officially support power meters.  The Elgato Eve has added a custom service to support that and it is visible in their app only.  Some plugins have implemented it.  For now I think I will

[2022-08-21 14:31] hdinwiddie commented on #29
You should see the whole log file!  As you suggested, I have a LOT of
devices.  It's become a hobby and an obsession, but I recognize I've gone
far beyond practical or even useful.  I doubt I'll stop.

On Sun, Aug 21, 2022 at 10:27 AM David Kerr ***@***.***>
wrote:

[2022-08-21 14:31] dkerr64 commented on #29
Yes.  Is documented.  You need to add a devices section to the config (can be done in the home bridge user interface).

[code]

You can also do the opposite... ignore everything unless specifically listed in the config file.  See docs.

[2022-08-21 14:56] hdinwiddie commented on #29
I removed the "Classroom Hub" from YoLink as I'm not using it and can reinstall it if I do.  I hid my primary hub from the configuration.  I noticed the first pass after restarting the YoLink plugin it removed the Classroom Hub from cache and on the second restart there was no mention of it.  Realistically there is nothing much gained by keeping items not used for a period of time in the YoLink ap

[2022-08-21 16:12] hdinwiddie commented on #29
David, this PDF should allow you to copy/paste.  Would you try it?  Is it helpful
[HomeBridgeYoLink08222.pdf](https://github.com/dkerr64/homebridge-yolink/files/9389528/HomeBridgeYoLink08222.pdf)
?

[2022-08-21 20:22] dkerr64 opened #31 "Outlet printing warning to log on receipt of MQTT "powerReport" message."
**Describe The Bug:**
Outlet printing warning to log on receipt of MQTT "powerReport" message.

[2022-08-21 22:04] #31 closed

[2022-08-21 22:19] dkerr64 commented on #29
@hdinwiddie please try version 1.1.3 that I just published.  In theory it should work with your power strip, but as I don't have one I cannot test.  The area most at risk of not working is turning outlet(s) on/off.

In Homebridge you should see multiple tiles, four "outlets" and one "switch" for the master on/off.  In Apple Home you should, I think, see just one tile under which will be the four o

[2022-08-21 22:57] hdinwiddie commented on #29
Here's what I have...  The multi-outlet device was picked up fine.  In
Homebridge Accesorie the tiles show the correct status (on/off) and will
allow me to cycle them, but only once.  At that point, the tile status
doesn't change and they no longer respond to clicks.  If I restart the
YoLink plugin they again are picked up in their current status after which
I can only cycle them once without rest

[2022-08-21 23:21] dkerr64 commented on #29
@hdinwiddie Thank you for testing.  So the first "outlet" is actually the USB ports.  I'll change the label.  For some reason I thought there was a master on/off.

Can you capture a full log please (with verbose on) and I'll see if I can figure out what is going on with the on/off setting.  I'm in particular looking for the "SENDING" and "RECEIVED" logs as that shows me what is going to/from YoLin

[2022-08-21 23:47] hdinwiddie commented on #29
I'm sending you the text of the log that I quite long, but think I captured the multi-outlet device.  My siren is turned off and I can turn it on to take another log (verbose) so that device doesn't take up so much of the lo
[homebridgeyolink.log.txt](https://github.com/dkerr64/homebridge-yolink/files/9390208/homebridgeyolink.log.txt)
g

[2022-08-21 23:56] hdinwiddie commented on #29
Ok, I turned the alarm back on to "clean up" the log.  Here's the same thing, but without the alarm taking over..
[homebridgeyolinkminusalarm.log.txt](https://github.com/dkerr64/homebridge-yolink/files/9390225/homebridgeyolinkminusalarm.log.txt)
.

[2022-08-22 00:55] dkerr64 commented on #29
@hdinwiddie Looking at the logs they seem to stop after startup... I don't see any logs of you trying to switch on and off any of the outlets?  Can you try that please.  I only need to see the logs from the point that you start that... all the startup stuff looks to be working as expected.

Thanks

[2022-08-22 01:00] dkerr64 commented on #28
@hdinwiddie I'm looking at this and I think the finger device is like a push button... ie, has no state, it is neither on or off.  When you activate it, it performs a push and release action.  Can you confirm that?  If so then I can implement it as a simple stateless pushbutton switch.

Now, of course, the bigger issue is that this is designed to work in conjunction with a garage door sensor... so

[2022-08-22 01:18] hdinwiddie commented on #28
You've got it exactly right, but I'm conflicted about it having to work with a sensor as it seems to limit its use.  I'd like to see it have the ability to work fine with or without the sensor.  Here's a picture that might help you visualize what we're working with.
![IMG_1038](https://user-images.githubusercontent.com/19009685/185820811-93933e67-8562-4159-a0c9-33bb43615309.jpg)

[2022-08-22 01:30] hdinwiddie commented on #29
David, here's a log where I captured the initial state and then cycled through each button, starting with the USB outlets.  I hope it will show you what you're looking for.  I cycled through them both directions
[homebridgewhoingactivity.log.txt](https://github.com/dkerr64/homebridge-yolink/files/9390497/homebridgewhoingactivity.log.txt)
.

[2022-08-22 01:59] dkerr64 commented on #28
I think first step is to be able to activate the "finger" from Homebridge... and that is probably best done with a simple "switch" that automatically turns itself off within a second of it being activated.

Now what we have are door sensors and door opener switches.  I need to think of a way that a user can specify that two should be linked together to represent e.g. a garage door opener.  If a us

[2022-08-22 02:37] dkerr64 commented on #29
Please try version 1.1.4 that I just published.  I noticed one problem with my code when I was able to see the returned data from YoLink... but I'm not sure it it will help or not.

Thanks

[2022-08-22 11:21] hdinwiddie commented on #29
David with your latest change the buttons all work fine in both the Homebridge devices and the Home app!  That's awesome.  In the middle of the night I realized and hadn't given you logs showing the outlet master being cycled on and off because it doesn't show and I was using the Home app to do the cycling.  This morning I did it again, but operating the buttons from the YoLink app so you could se

[2022-08-22 12:03] dkerr64 commented on #28
@hdinwiddie can you please activate the Finger device from the YoLink app, and also press the up and down buttons on the device and send me the logs from this plugin.  I am hoping that when you activate it from those sources, some messages will be sent.

And what does the up/down button do?  Is it supposed to represent garage door up/down, or just the "finger" action?

Thanks

[2022-08-22 12:20] dkerr64 commented on #29
@hdinwiddie can you tell me how the master functions please... lets say I have two of four outlets turned on, then I master off so nothing is on.  If I master on again do all outlets turn on, or does it restore to previous state where only two of the four are on?

For the USB... this can be represented as either a switch or a outlet.  Right now I chose switch, mainly as a legacy of me thinking it

[2022-08-22 14:02] hdinwiddie commented on #29
That is a GREAT question and makes me realize why the master might be causing problems. Actually, it's not really a master, but a way of turning everything off and everything on.  If you have a couple of outlets on and operate the master then they turn off...everything you have on turns off.  When you turn it on, then there is no memory, but every outlet turns on.  Furthermore, while it's "off" yo

[2022-08-22 14:06] hdinwiddie commented on #29
Here's a screenshot from the YoLink app which shows what you see that way
![IMG_1040 2](https://user-images.githubusercontent.com/19009685/185941059-c4050afc-6a34-4c3f-8bef-fd40c0a2e4c5.PNG)
.

[2022-08-22 14:13] dkerr64 commented on #29
@hdinwiddie this really helps.  There is no need for me to implement an all on / all off in this plugin as that can be done in Apple Home by creating a scene that does the same thing... link all outlets together and then operate all from one tile -- is a common thing.

[2022-08-22 14:16] hdinwiddie commented on #29
I agree!

On Mon, Aug 22, 2022 at 10:14 AM David Kerr ***@***.***>
wrote:

[2022-08-22 16:07] hdinwiddie commented on #28
Here is the log for the finger and for the sensor.  I think they should be listed as separate devices because you can actually use one without the other.  The finger will operate without the sensor but in the YoLink app, it gives you a warning because it can't actually know what the status is without a paired sensor.  The sensor can either be paired to give an opener combo for folks who don't alre

[2022-08-22 16:14] hdinwiddie commented on #28
I'm sorry I didn't answer the part about the up/down buttons.  They aren't used from a programming standpoint but are there to let you set the range of travel of the finger from its "down" position to its "up" position,  You won't see them in the logs.

[2022-08-22 17:09] dkerr64 commented on #28
@hdinwiddie Thanks for the description and log.  I'll look at it tonight.

[2022-08-24 01:23] dkerr64 commented on #29
@hdinwiddie can you please test 1.1.5 please.  I have changed treatment of USB charting ports to be just any other outlet.  USB will be identified as "Outlet 0" then the main power outlets as 1..4.

Thanks

[2022-08-24 01:25] dkerr64 commented on #28
@hdinwiddie can you please test with version 1.1.5 that I just posted.  The finger device should appear as a regular switch but when you turn it "on" it will trigger the finger and then turn itself off after 1 second.

I am interested in seeing the "RECEIVED" log for anything identified as "Finger"... I am looking to see what data it returns for e.g. battery or anything else.

Thanks.

[2022-08-24 01:46] hdinwiddie commented on #29
I just tried it and what I'm seeing on my iPhone and my Macbook Pro is row of 5 power buttons which correctly operate all 4 outlet plus the USB ports, so that part is perfect...there are no labels on the buttons...there is also showing a power-slider which doesn't do anything that I can see.  That could just be eliminated if possible?
<img width="517" alt="Screen Shot 2022-08-23 at 9 42 13 PM" src

[2022-08-24 02:04] hdinwiddie commented on #28
Ok, David, I  used the finger to actually open/close my garage door first without the sensor and  the state didn't change, but each time I pressed the open it would change state from open to closed.  At the end of the log, I used the paired sensor and just flipped it open/closed as it would if it were attached.  I hope it all makes sense when you look at the log.  BTW I'm headed for bed (I'm an OL

[2022-08-24 12:48] dkerr64 commented on #29
I think the on/off slider is a hang over from last version where I use a "switch" to control the USBs.  But I decided it was much cleaner to treat them the same.  To remove the on/off slider I think you will have to remove the power strip from the Homebridge Cache.  From Homebridge select the three dots at the top right, go into Homebridge Settings and scroll down to you see "Remove Single Cashed

[2022-08-24 12:49] dkerr64 commented on #29
I don't know why names are not appearing next to each outlet button.  Are the names appearing on the Homebridge tiles accessory view?  You may have to set name in Apple Home.  As I don't have one of these I can't try myself.

[2022-08-24 14:27] hdinwiddie commented on #29
IMHO you can stick a fork in this one, David.  It works perfectly for me now.  The cache suggestion totally worked.  I have control of the naming of individual outlets in both Homebridge Accessories and in the Home app and see I can choose to show them as a group or as individual tiles.  I also see that I can create an automation in Homekit using any single outlet, which is terrific!  You did a re

[2022-08-24 17:17] hdinwiddie commented on #28
@dkerr64  Ok, let's try this log.  I cycled the finger ("classroom garage") several times and while I was at it cycled the YoLink garage door sensor several times.  In the YoLink app I paired the sensor with the finger to get rid of warnings that it wasn't paired.  I really like your version of this as it allows the finger to be used with any push button switch mechanical switch  that could benefi

[2022-08-24 17:26] hdinwiddie opened #35 "YoLInk Smart Lock M1 (new device)"
Please add Homebridge support for the new YoLink Smart Lock M1 as shown: [https://shop.yosmart.com/collections/all-products/products/yolink-smart-lock-m1-yolink-hub-required](url) I hope YoLink will provide you one for this purpose. I don't have one and don't really need another one, but I have friends who might.

[2022-08-25 02:25] dkerr64 commented on #28
@hdinwiddie What you are seeing is expected for now... I have not "connected" a door sensor to the garage door controller (finger) in my plugin yet, so activating the button will not cause the door to show up as open (or closed).  That is a work-in-progress.  When done you will be able to pair together a sensor/controller which will then show up in Homebridge as a garage door.

I'll let you know w

[2022-08-25 02:26] dkerr64 commented on #35
@hdinwiddie thank you for opening this requirement.  Once other work-in-progress completes and stabilizes I will look at this.

[2022-08-25 02:27] dkerr64 commented on #14
Believed to be fully functional now.

[2022-08-25 02:27] #14 closed

[2022-08-26 00:44] dkerr64 commented on #29
Believed to be fully functional with no bugs.

[2022-08-26 00:44] #29 closed

[2022-08-26 00:44] dkerr64 commented on #13
Believed to be fully functional with no bugs.

[2022-08-26 00:44] #13 closed

[2022-08-26 00:54] dkerr64 commented on #28
@hdinwiddie please test with version 1.2 I just published.  See the [README](https://github.com/dkerr64/homebridge-yolink/blob/master/README.md) documentation on binding two devices together for a Garage Door.  You will need to add this to the config file (with your unique device IDs)...
[code]
If the controller and sensor are battery powered then a battery "service" for each is added as well.  I

[2022-08-26 03:07] dkerr64 opened #37 "A problem in one garage door config skips all following doors"
**Describe The Bug:**

A problem in one garage door config skips all following doors… need to use continue statement instead of throw error.

[2022-08-26 17:12] hdinwiddie commented on #28
@dkerr64 That works Great the way it is now.  I know you want the logs so I'm attaching them.  First I operated the finger with the sensor in my hand to simulate door-open and door-closed. The status in Homebridge Accessories and in Homekit worked correctly showing the status of the door and allowing the door to be operated.  Near the end I operated the finger several times without changing the se

[2022-08-27 15:30] dkerr64 commented on #28
@hdinwiddie I have noticed some sync issues between Apple Home and Homebridge... sometimes the icons don't show the same state.  It usually sorts itself out after a few minutes.

I have added new feature to the garage door... when you activate the button it will go into either "opening" or "closing" state.  Once the door sensor reports that it has completed, it changes into either "open" or "close

[2022-08-27 15:31] dkerr64 commented on #35
This will take a while for me to work on as I have upcoming travel.  But I'll get to it.

[2022-08-27 16:09] hdinwiddie commented on #28
I thought it was just me that noticed the sync issues.  It does happen sometimes and does sort itself out.  I'm glad you explained it. I just did the update to 1.2.1 and see the entry for garage normal opening/closing time.  I may actually try this on my garage door today as I've got it where I can see it and the door sensor and am not letting it actually push the door opener button.  I already ha

[2022-08-27 16:13] hdinwiddie commented on #35
Great.  Oh, I just got an email saying a new plug, but with power monitoring is now available.  I think I'll get one to try out and will add it to the "list" if you're willing...later, of course.

[2022-08-27 19:20] hdinwiddie opened #39 "Support for YoLInk Outlet with Power Reporting (YoLink catalog item YS6602-UC)"
Please add support for using the YoLInk plug with power reporting in such a way that particular power levels could be used as triggers for Homekit automations.  I could plug a washing machine into it for example and use it in alerts for load/cycle completion or start. I can see in the log (attached) that power is being correctly reported, but am not seeing it available when trying to create an aut

[2022-08-27 22:59] ShamelessWizard commented on #14
Yes, it is fully functional.

[2022-08-27 23:01] ShamelessWizard commented on #35
I have one arriving around september 2nd'ish. If you don't have any logs before I install mine I'll dump them here.

[2022-08-28 02:40] dkerr64 commented on #37
Fixed in 1.2.1

[2022-08-28 02:40] #37 closed

[2022-08-28 02:41] dkerr64 commented on #28
Thanks for the update.  I'm hopeful that I have garage doors working well now.

[2022-08-28 02:41] #28 closed

[2022-08-28 02:44] dkerr64 commented on #35
@ShamelessWizard thank you for the offer.  If an unknown device is added to YoLink then this plugin should notice and place warnings into the log (will appear in orange/yellow text).  Those are what I will need to get started.  As noted above though, I have several weeks of travel coming up so it could take time to get to this.

[2022-08-28 02:47] dkerr64 commented on #39
Apple Home does not support power reporting.  At least not natively.  Elgato Eve added support for their devices using  custom characteristics.  Some plugins have adopted their approach so that power information is shown in the Eve app.  But it won't be shown in Apple Home.

I would like to add support for this, but I can't do it soon as I am about to enter a period of travel.

Thanks

[2022-08-28 11:37] hdinwiddie commented on #39
Thanks for letting me know.  I'll try creating a couple of virtual switches in SmartThings or Alexa that can be brought into Homekit and do it that way or just forget trying in Homekit for now.

[2022-08-28 11:38] hdinwiddie commented on #35
@dkerr64 Thanks for the schedule info.  We'll pick it up whenever you're ready.

[2022-08-28 21:51] dkerr64 commented on #35
For anyone that has a lock... can you tell me if the YoLink app allows you to lock/unlock from the app, or if it just reports status and allows you to check/update settings.

The YoLink documentation [here](http://doc.yosmart.com/docs/yolinkapi/Lock) and [here](http://doc.yosmart.com/docs/yosmart-api/Lock) is not clear (looks like two different devices that can be identifies as _**Lock**_.  And th

[2022-08-28 21:55] hdinwiddie commented on #35
@dkerr64 Mine has been shipped and is supposed to be here Tuesday.

[2022-08-30 02:26] dkerr64 commented on #35
@hdinwiddie when your lock arrives, please test with version 1.2.2 that I just published.  It has the framework around which lock support will be built.  It might work to the extent of reporting status (locked / unlocked) but it will not remotely lock/unlock the device because I don't know how to do that.  Please capture whatever logs you can.  Thanks.

[2022-08-30 02:31] dkerr64 opened #42 "Hiding thermo or hydro broke with last update. Yuk"
Last pull request broke the hide = thermo and hide = hydro function.   Oops.

[2022-08-30 02:34] dkerr64 opened #43 "Regression in garage door function."
Error message...

[code]

[2022-08-30 02:56] #43 closed

[2022-08-30 02:57] dkerr64 commented on #42
Fixed but I do need to add code to remove the thermo or hydro service if user changes config setting without the need to remove the old one from cache.  So will leave this open

[2022-08-30 18:49] hdinwiddie commented on #35
@dkerr64 I got the lock in and set up on a table and it's working fine in the YoLink app and with Alexa.  It looks like a very well-made lock. You can unlock/lock it in the app.  You can also do it with Alexa except you're prompted to give the passcode before it will unlock.  It locks without a code.  I'm seeing it in Homebridge and in Homekit fine, but it isn't reflecting the status and won't res

[2022-08-30 20:26] dkerr64 commented on #35
@hdinwiddie Thanks for the log.  I can see that it took the plugin several attempts to connect to the lock, over a minute, but was successful in the end...
[code]

Which of course does not match the documentation [here](http://doc.yosmart.com/docs/yolinkapi/Lock), that I was working from... that explains why Homebridge/HomeKit is not showing status.  I should be able to fix that quickly enough.

I

[2022-08-30 23:14] #42 closed

[2022-08-31 00:52] hdinwiddie commented on #35
I did the update and at first I thought it wasn't updating in Homekit because I didn't see it updating in Homebridge/Accessories even after a couple of minutes.  Then I looked on my iPhone and sure enough it is updating there in Home.  It's a long log with several cycles from the YoLink app.  It appears that when I change the state in Homekit it doesn't change the state of the lock itself.  When I

[2022-08-31 02:47] dkerr64 commented on #35
Thanks for the log.  I see that it is now getting the correct lock state and battery level.  I'm definitely going to need to get one for myself though in order to do anything more than this.

[2022-09-01 04:18] ShamelessWizard commented on #35
So mine arrived today and sure enough I tried every permutation of their api.  The lock device API was returning method not supported and I started looking at other API examples. Sure enough, they used setState!

curl --location --request POST 'https://api.yosmart.com/open/yolink/v2/api'   --header 'Content-Type: application/json'   --header "Authorization: Bearer ${access_token}"   --data-raw '{

[2022-09-01 04:19] ShamelessWizard commented on #35
This part of the api works, but I don't know if homekit supports configuration of devices.

http://doc.yosmart.com/docs/yolinkapi/Lock

[2022-09-01 04:28] ShamelessWizard commented on #35
Nope, excuse the spam, lock.setState does something, but it isn't doing more then causing the lock to beep. Weird. I've emailed one person regarding their docs. No idea if I will get a response.

[2022-09-01 04:48] ShamelessWizard commented on #35
I am able to lock with lock.setState, but I must have the parameters wrong. I can't unlock remotely.

[2022-09-01 05:01] ShamelessWizard commented on #35
Seems they cloned the Siren setState api.
http://doc.yosmart.com/docs/yolinkapi/Siren

Using the keyword lock and unlock does the trick. Really, any keyword other then unlock seems to lock it... so I'm taking a guess on lock being the verb, but it sounds right. I have the lock next to me and not only does it sound the engagement beep, but the lock mechanism engages correctly.

Unlock!

 curl --loc

[2022-09-01 13:56] dkerr64 commented on #35
@ShamelessWizard Thank you for doing the detective work.  This is huge help.  I'll try implementing lock/unlock this evening.

[2022-09-01 14:01] dkerr64 commented on #35
@ShamelessWizard The other data we need is MQTT messages that are sent if someone manually locks/unlocks a door.  If your lock is registered with this plugin, then you should see messages in the Homebridge log each time you manually lock/unlock (assuming that YoLink reports this... which I expect they would as they do for all other devices that are manually controlled).  Thanks.

[2022-09-01 14:06] ShamelessWizard commented on #35
Will get the logs after coffee. Yaochi confirmed the setState Api this morning. I don’t know if he intentionally signed up for support, but he put his email address in a malformed api request response ;)

Eric

[2022-09-01 14:16] dkerr64 commented on #35
One more thing... when registered to the plugin can you click on the lock accessory in Homebridge and/or in Apple Home app and look at the log.  There should be a warning message that that says unsupported request to lock or unlock followed by the device name and ID and then the "value" being passed into the set handler.  I need to know if that value is 0/1 or a string "lock" / "unlock" or a boole

[2022-09-01 15:15] ShamelessWizard commented on #35
Right now I see this in the homebridge when manipulating from homekit:
Unsupported request to lock or unlock Front Door (d88b4c0100036572) to '1'
Unsupported request to lock or unlock Front Door (d88b4c0100036572) to '0

Based on UAC it should be a string of 'lock' or 'unlock'. I'm playing around with the code a bit.

When I manually set the lock state I don't see any change in homebridge. Eventua

[2022-09-01 15:35] dkerr64 commented on #35
The 1/0 is consistent with how a switch/siren works... in those cases the value is a boolean true/false which I then convert to a string that is sent up to YoLink.... true being 'open' and false being 'close' (for siren it is a longer object).  I expect that for the lock device I translate 0 into 'unlock' and 1 into 'lock' which would be consistent with how Homebridge/HomeKit expects status to be

[2022-09-01 15:48] hdinwiddie commented on #35
@dkerr64  and @ShamelessWizard I'm glad the pros are working on this one.  When you need a user to check/verify, let me know.  Thanks, guys.

[2022-09-01 16:04] dkerr64 commented on #35
Please try version 1.2.5 and see whether lock/unlock works from Homebridge/HomeKit.  Thanks.

[2022-09-01 16:06] ShamelessWizard commented on #35
If I enter the combination on the lock the YoLink app does see the state change. Physically setting the lock state does not update the app status. Interesting to know the key doesn't seem to trigger a response.

I don't know if I'm getting all of the debug data I want. I have debug and recently added verbose plugin settings.  Do you know  if there is a further debug level I can get? I'm attempting

[2022-09-01 16:08] dkerr64 commented on #35
If you enable verboseLog in the plugin config then that gives you the most logging that I wrote into the code.  Any more than that is tcpdump or Wireshark.

[2022-09-01 16:32] ShamelessWizard commented on #35
That seems to work with the new update.

I can set lock/unlock via homekit now.

[9/1/2022, 12:31:22 PM] [YoLink] YoLinkAPI.setDeviceState for Front Door (d88b4c0100036572): {"state":"lock"}
[9/1/2022, 12:31:22 PM] [YoLink] [verbose] YoLinkAPI.getAccessToken
[9/1/2022, 12:31:22 PM] [YoLink] [verbose] SENDING:
{"time":1662049882664,"method":"Lock.setState","targetDevice":"d88b4c0100036572","token":

[2022-09-01 16:36] ShamelessWizard commented on #35
The only issue without the status updates is homekit can be out of sync. When that occurs, homekit/homebridge simply sends a state request for the current lock state. This results in the lock simply beeping and then homekit gets the current state properly reflected.

I'll have to tcpdump my way through and see if I see a subscription message.

[2022-09-01 16:39] ShamelessWizard commented on #35
No mqtt messages. I confirmed with the Siren that I could see them via tcpdump.

[2022-09-01 16:59] hdinwiddie commented on #35
When I open/close the lock from Home or from Accessories it works fine and reports the status reasonably fast.  When I use the keypad or the manual lock the status isn't picked up.  When I then click on a tile, the lock beeps and doesn't move and the status updates and everything is back in sync.

[2022-09-01 17:20] dkerr64 commented on #35
Its unfortunate that YoLink is not sending MQTT messages on lock status changes, we should probably ask them about that.  In the meantime...

My plugin was designed on the assumption that it would receive status updates by MQTT... and I go to some lengths to maintain that connection.  This assumption allows me to optimize responding to "get status" requests from HomeKit... which are very frequent.

[2022-09-01 17:29] dkerr64 commented on #35
Further thoughts on _refreshAfter_...  zero may be too extreme.  5 or 10 seconds might be better.  Anything less than 60 seconds and the automatic refresh timer is not run, but setting to 5 or 10 seconds means that any rapid series of requests for status are responded to quickly, while still checking with the server is a few seconds have elapsed since last request.

[2022-09-01 17:32] ShamelessWizard commented on #35
I'm not in a hurry myself because I can always revert back to the yolink app. Homekit is far more reliable about sending a notice that something has changed.

While the lock is performing a state update from the keypad it temporarily doesn't respond to state requests. Looks like this lasts for roughly five seconds after a successful pad entry has completed. It will throw some noise into the logs i

[2022-09-01 20:14] ShamelessWizard commented on #35
I'm fairly well convinced at this point that yolink is simply not pushing device events to the report channel for the lock. I dug in and learned a bit about yolink, plus dumps and looked at this code more. Their mqtt api is about three lines... so yeah.

[2022-09-01 22:18] dkerr64 commented on #35
I am thinking I should default the _refreshAfter_ to 10 seconds for the lock.... so rapid series of get requests are handled very quickly, but if 10 seconds had elapsed then it will get it again from YoLink.  My hesitation is whether to set a timer to automatically update it whether requested by HomeKit or not.  Currently if <60 seconds is requested then I don't bother with a timer... just letting

[2022-09-02 01:06] ShamelessWizard commented on #35
Even the YoLink app has some weird behaviors with the locking behavior of the Smart Lock. Especially if I double send a request.  refreshAfter 10 is probably a good idea for on demand.. I've got one email out asking where I should direct my request regarding the mqtt behavior. I think it is a bit early to start remodeling behavior. It's just not in the report channel. I confirmed this with tcpdump

[2022-09-02 01:35] dkerr64 commented on #35
Lets see what YoLink has to say. In the meantime I pushed an update that sets _refreshAfter_ to 10 seconds if a specific value is not set in the config file... and updated the readme to document where we are at.

[2022-09-02 01:52] ShamelessWizard commented on #35
Just tested the update. It's very snappy on lock and unlock now.

[2022-09-03 13:29] hdinwiddie commented on #35
@dkerr64 @ShamelessWizard After updating to 1.2.7 I noticed something I haven't noticed before.  When I have the Home app open and am looking at it while manually changing the lock to locked or unlocked it doesn't update.  If, however, I have the app opened and am doing something else (Home app now in the background" like email, and go back to the Home app, after the earlie manual change the Lock

[2022-09-03 15:53] dkerr64 commented on #35
This is expected behavior.  The outlet is sending status updates when you control it manually, but the lock does not.  To work around that I changed how frequently to check the lock status… that takes time waiting for the reply over the internet during which Apple Home shows updating.

[2022-09-08 10:07] dkerr64 opened #50 "Apple Home app shows "closing..." for valve long after valve already closed."
For some reason Apple Home app doesn't pick up that the valve has already closed.  Possibly because I fail to update the "InUse" characteristic after the valve closes.  To be investigated further.

[2022-09-11 19:27] ShamelessWizard commented on #35
Looks like it is showing up in the MQTT report channel now! I guess they did listen to my messages.

These messages appear as I manipulate it with the YoLink App.

[9/11/2022, 3:26:12 PM] [YoLink] [verbose] MQTT message: yl-home/c460b484e49b4c08b33647d9815c9741/d88b4c0100036572/report
{"event":"Lock.setState","time":1662924372432,"msgid":"1662924372432","data":{"state":"locked","loraInfo":{"signal

[2022-09-11 22:31] dkerr64 commented on #35
Excellent, thank you @ShamelessWizard.  I ordered a lock and it just arrived so I will be able to start testing it myself soon.

[2022-09-11 23:22] ShamelessWizard commented on #35
It will be a sad and joyless experience now. I've taken that from you. I might end up doing shelly switches for the light switches. I'll look at what YoLink has. We may have another adventure in store! Until next time!

[2022-09-12 00:12] wojo opened #51 "Fatal error during initialization when unknown device encountered"
**Describe The Bug:**
One of my devices is failing on enumeration with the following error. I believe this is making the enumeration stop at 22 out of 29 devices, which I think is the Power Failure Alarm, and this also may causing any updates to fail (opening a door does not reflect in HomeKit).

**To Reproduce:**
Just load up devices, which includes a Power Failure Alarm it seems.

**Expected beh

[2022-09-12 00:31] wojo commented on #51
Adding a device override for the Power Failure Alarm restores functionality and allows events to flow:

[code]

[2022-09-12 01:01] wojo opened #52 "Ability to include/exclude devices by type"
**Is your feature request related to a problem? Please describe:**
Although I can have (nearly) all devices in HomeKit, often I trust and use YoLink's native applications for certain things like temperature sensors and alerts via email/SMS, etc.

Thus, I would like to exclude some categories of devices from HomeKit to keep things tidy and clean, and also reduce any overhead in manual refreshes, et

[2022-09-12 12:03] dkerr64 commented on #51
Well, that is bad... in that one device (in this case "unsupported") should cause fatal error.  I will look at it this evening and get a fix out asap.

This device must be returning data different from other devices.  Could you turn on verbose logging and capture the data returned please.  Early in the startup phase there should be a (fairly long in your case) JSON data record (data bounded by cur

[2022-09-12 12:06] dkerr64 commented on #51
Did you just recently update the plugin? Another possible fix may be to remove this device from the cache then restart.  Go to Homebridge settings (upper right three dots) and "remove single cached accessory" look for this one and remove it.  **Do not** select option to remove all accessories, that is likely to cause you a lot of work as removing an accessory will then remove any automations you h

[2022-09-12 12:11] dkerr64 commented on #52
Interesting idea.  I'll think about it.  The model number is not available through the API, but a "type" is.  Currently I recognize the following types...
[code]
We could exclude based on those type words.

[2022-09-12 12:33] wojo commented on #52
I suppose they choose something that is a bit more human readable than a model number as it is also embedded into the event name as the first part. So if a new revision comes out but shares the same data model, probably would share the same event (e.g., `THSensor.Report`). That makes sense.

[2022-09-12 12:40] wojo commented on #51
@dkerr64 sent via email as it does include exact device IDs, UDIDs, etc.

Yesterday was my first time installing the plugin and it never made it into the device cache.

[2022-09-12 14:36] dkerr64 commented on #51
Thanks for the logs.  I see where the bug is and will fix it this evening.

The fix will stop the fatal error.  But the device will be "unknown" to the plugin, so not visible in HomeKit.  I will open a new issue to log the request to support PowerFailureAlarm device types.

Thanks

[2022-09-12 20:54] dkerr64 opened #53 "Add support for Power Failure Alarm"
Add support for PowerFailureAlarm.  Sample JSON...
[code]

[2022-09-12 21:42] dkerr64 commented on #51
Fixed in 1.2.8

[2022-09-12 21:42] #51 closed

[2022-09-12 21:43] dkerr64 commented on #50
Fixed in 1.2.8

[2022-09-12 21:43] #50 closed

[2022-09-12 21:54] wojo commented on #51
Confirmed working!

[2022-09-12 22:11] dkerr64 commented on #35
@ShamelessWizard, @hdinwiddie. The firmware update for the lock seems to have solved the no-MQTT problem.  The plugin now receives timely MQTT reports whether the lock is controlled manually, with a PIN code or from the YoLink app.  It is interesting that unlock events are reported as an "Alert" while lock events are a "StatusChange".  I was not handling Alerts so had to add that.

Because MQTT ap

[2022-09-12 22:11] #35 closed

[2022-09-12 22:19] dkerr64 commented on #53
@wojo I have fixed the fatal error on initialization.  Please download version 1.2.8.

Now I would like to add support for the power fail alarm but there is no documentation for this at the YoLink [website](http://doc.yosmart.com/docs/overall/intro) so I will need your help to get started.  I noted the MQTT message received but I will need more.  If you run the plugin and then generate events (lik

[2022-09-12 22:31] dkerr64 commented on #53
@wojo of course the other problem is how to represent this sensor in HomeKit, it does not have the concept of a power failure sensor.  I could substitute another sensor time, for example motion, contact, occupancy sensor.  Or I could represent it by a powered device like a switch, lightbulb or outlet (which would not be controllable, but could be monitored/queried for powered on or not).  Any of t

[2022-09-12 22:33] dkerr64 commented on #51
Thank you.  Over to issue #53 to discuss adding support for the device now that the immediate bug is fixed.

[2022-09-13 00:41] ShamelessWizard commented on #35
I was up to date on the firmware. It was simply not in the report channel. I did nothing and mqtt started working.

[2022-09-13 01:03] wojo commented on #53
@dkerr64 Events below:

When AC power (well USB power, but to mains) is lost it sends a `PowerFailureAlarm.Alert` with `"state": "alert"` `"powerSupply":  false`.

[code]

When power is restored, a `PowerFailureAlarm.StatusChange` is sent with `"state": "normal"` and `"powerSupply" : true`:

[code]

There's a hard switch on the side which turns off the unit (off), and then three settings for on (L

[2022-09-13 01:31] wojo commented on #53
Here are some initial thoughts:

The most clear and simple mapping would be a contact sensor that turns "on" when power is lost representing an alarm state, which can be used to control a scene, trigger an automation, etc. When power is restored, it turns "off".

What could be interesting is a temporal/timed contact sensor that retains the behavior of the `alertDuration` for the "on" state matchin

[2022-09-13 02:25] dkerr64 commented on #53
@wojo All the JSON is really helpful.  Thank you.

On HomeKit service type...

A lightbulb/outlet doesn't feel odd to me.  If they are in 'on' state then power is healthy, 'off' would represent a power failure.  HomeKit automations can be triggered on change of state from one to other.

YoLink sensors (leak/vibration/motion) report their state as `normal` or `alert` similar to what we see here.  A

[2022-09-13 03:07] wojo commented on #53
That makes sense, if choosing one it's easy to still use it in any other way via plugins or HomeKit.

Pretty sure however that the device never returns to normal state and only continues to fire with alert and `alertType` of `remind`. Makes sense the even never stopped, unlike a motion sensor.

So in order to trigger something on every remind, something else would have to be exposed like a single

[2022-09-13 11:50] dkerr64 opened #55 "Add doorbell support to the lock."
Add a doorbell HomeKit accessory to the lock.  Need to handle Alert MQTTs by looking at the alertType field...
[code]

[2022-09-14 01:00] dkerr64 commented on #52
@wojo please try version 1.2.9 and note new `excludeTypes` and `includeTypes` config options (best set from the config UI).

[2022-09-14 01:00] dkerr64 commented on #55
Implemented in 1.2.9

[2022-09-14 01:00] #55 closed

[2022-09-14 01:29] wojo commented on #52
Works perfectly. My house temperatures no longer show 0 degrees to 108 degrees! I have a lot of `THSensor` units for fridges, freezers, under sink instant water heater, etc so this is fantastic.

Bonus is that the device overrides work, so I can exclude all THSensor units except one for example. Very nice! 💯

[2022-09-14 01:38] dkerr64 commented on #53
@wojo I have added initial support for this device.  I do not know how well it will work, but it is a start.  I implemented a Outlet which should remain in the "on" state whenever power is present. In a power failure it should turn to "off"

I may add options to allow the user to specify what type of device they want this to show up as, but for now I need to make sure that I am handling the messag

[2022-09-14 01:41] dkerr64 commented on #52
Yup, that is by design.  Thanks for testing.

[2022-09-14 01:54] wojo commented on #53
@dkerr64 was already testing this as I saw the new device pop up!

State correctly change from "on" and "off" on power loss. I wasn't able to test the re-alert/remind, yet. Will do that soon.

Setting state in HomeKit results in an error in the logs: "Error in OutletDevice handleGet". The outlet turns off, I assume the plugin refresh or any other status message will turn it back on, but it'll stay

[2022-09-14 11:49] dkerr64 commented on #53
Thank you @wojo based on that JSON I can see that some things will not be working right.  I will fix this evening.

Re-alerts, reminds, etc. are not being handled yet.

[2022-09-15 00:14] dkerr64 commented on #53
@wojo please try 1.2.10 that I just published.  It should be a lot better.  I also allow for either a Outlet or Contact sensor device (defaults to outlet).  To change to contact sensor add `"powerFailureSensorAs": "Contact"` to the config.

Please test and let me know how it goes.

[2022-09-15 00:17] dkerr64 commented on #53
Also, I don't know whether to do anything with alert / reminders.  If there is a fault and one of those comes in then I suppose it is possible to briefly toggle the state from fault to ok to fault again.  But is that worthwhile?  And if I do it for this sensor, then I would need to do it for all other YoLink devices that send similar reminders.

I am really not sure that this should be a function

[2022-09-17 00:54] wojo commented on #53
@dkerr64 contact sensor looks good.

I agree that the remind shouldn't toggle the state, but if it was toggle to "off" somehow then it could probably return it to "on" to keep it accurate to the actual state. For anyone that wants that, there will be another that doesn't of course and then you are talking another setting...

That said for those that really want to have it match the state always, j

[2022-09-17 18:17] dkerr64 commented on #53
@wojo I'm going to declare this working now and close this issue.  If any problems come up please open new bug issue.

Huge THANK YOU for helping me implement support for this device.

[2022-09-17 18:17] #53 closed

[2022-09-17 18:19] wojo commented on #53
Agree and any time!

[2022-09-26 17:15] Gobastos opened #60 "Login to YoLink API with credentials from config doesn't work"
**Describe The Bug:**
I'm always getting an error in the log file reporting problems logging into the yolink API using my credentials defined in my configuration.
The credentials are correct as I am able to send CURL commands to the yolink API using these credentials without any problem.

I am been using this plugin for months without problems and I only noticed this today. I even tried to generat

[2022-09-27 01:12] dkerr64 commented on #60
The error `getaddrinfo EAI_AGAIN` is coming from underlying network stack (node-fetch) and outside control of this plugin.  Googling for that error and it appears to be a problem with the DNS server responding that it cannot fulfill the request to resolve `api.yosmart.com`

Feels like a temporary network problem that should resolve itself?

David

[2022-09-28 13:26] Gobastos commented on #60
Many Thanks David
Indeed the problem was not related to the plug-in.
Probably this was due to an update of one of the homebridge components that caused this.
I had to reinstall everything from scratch (homebridge and all plugins) in order to get this solved.
Best Regards,
Guilherme

[2022-09-28 13:26] #60 closed

[2022-09-29 06:03] dkerr64 commented on #60
Thanks for reporting back and closing the issue.

[2022-10-05 18:52] crazyfoxkp opened #61 "Garage controller accessory shows up as generic switch"
Hi-
Thanks for your efforts.
Using yolink plugin v 1.3, setup as child bridge on Docker/Synology.
Under Accessories (Homebridge UI) tab - do not see garage controller accessory. Garage controller, sensor, and battery level displayed separately for ungrouped devices. For 1 grouped set (garage controller and sensor) only see a switch listing.
Also, same findings on HomeKit. Controllers are displayed

[2022-10-06 02:48] dkerr64 commented on #61
Have you setup the garage door sensor and controller in the config file (or with the config UI)?  You should have something that looks like this..

[code]
If you have not assigned a controller and sensor to a garage door as above then yes, each device will show separately.

If you have that, then l need to see whether there are any errors or warnings in the log file.

Thanks

[2022-10-06 16:44] crazyfoxkp commented on #61
I have one controller/sensor set grouped and another without. The grouped item displays as one unit (without sensor) but acts/displays as a switch, and doesn't provide state info.

Log file attached.

[homebridge.log.txt](https://github.com/dkerr64/homebridge-yolink/files/9726856/homebridge.log.txt)
Thanks for helping.

[2022-10-06 17:19] dkerr64 commented on #61
The clue is in this log file message...
[code]
You mistyped the UID for the controller... value in position 4 is wrong.  This line should have appeared in the homebridge log viewer highlighted in orange to draw your attention.

[2022-10-06 18:41] crazyfoxkp commented on #61
Hi-
Reentered UID and all work as expected. Issue resolved.
Thanks again for doing this project and helping me troubleshoot.
Cheers

[2022-10-06 18:41] #61 closed

[2022-10-11 08:42] hdinwiddie commented on #29
I was just writing back. At first I didn't see it in Homekit, but it's
there now and works fine, but if I try operating from Homebridge
Accessories it acts as I described and back in Homekit I have to cycle the
problem outlets and then it starts working fine again.  The Power button in
Homekit operates the USB ports and not the main power...that's the only
issue in Homekit.  So with this informati

[2022-10-11 12:25] dkerr64 commented on #29
There is no "master" on/off in the powerstrip... YoLink is implementing that feature in their app.  I have observed Homebridge and HomeKit getting out-of-sync with some devices but have not been able to figure out why yet.  I don't have their powerstrip yet so can't debug right now.

[2022-10-13 09:11] Flip76 opened #62 "Support for X3 SMART TEMPERATURE (YS8006)"
**Is your feature request related to a problem? Please describe:**
Yes, the plugin throws errors:

[10/13/2022, 4:00:01 PM] [YoLink] MQTT: THSensor.DataRecord for device Repbox (d88b4c0100xxxxxx) not supported.
Please report all bugs at https://github.com/dkerr64/homebridge-yolink/issues
{**"event":"THSensor.DataRecord"**,"time":1665651601414,"msgid":"1665651601414","data":{"records":[{"temperatur

[2022-10-13 12:58] dkerr64 commented on #62
Thank you @Flip76 for reporting this...  first time I have seen this MQTT so yes I need to handle it and not report an error.  And of course it is not documented at YoSmart's web site.

However I'm not sure I should do anything with the data.  The data records is an array which presumably could have a series of temperature and humidity values returned each with a timestamp.  Unless the timestamp i

[2022-10-13 13:13] Flip76 commented on #62
As far as I can see, it's always 1 record - also in the app it shows only this one timestamp for the last measurement - once you click refresh in the app, you will get a normal THSensor.Report. So if you just ignore the DataRecord, it should be fine as long as you catch the Report. Here is a getState-output were you can see the recordInterval:

[code]

According to the documentation:

Both tempera

[2022-10-13 13:59] dkerr64 commented on #62
Thanks for the additional detail.  I have posted into YoLink's developer support forum asking how this message is supposed to be handled.

[2022-10-18 02:19] rjjmd89 opened #63 "YoLinkPlatformAccessory.mqttOutletDevice (/var/lib/homebridge/node_modules/homebridge-yolink/src/outletDevice.ts:317:28)"
**Describe The Bug:**

**Environment:**

* **Plugin Version**:
* **Homebridge Version**:
* **Node.js Version**: <<html><body>

  | v16.18.0
-- | --

</body>
</html>>
* **NPM Version**:
* **Operating System**:
*
    "bridge": {
        "name": "Homebridge ",
        "username": "",
        "port": ,
        "pin": "",
        "advertiser": "avahi",
        "bind": []
    },
    "accessories": [

[2022-10-18 03:28] dkerr64 commented on #63
Can you please explain what the bug is?

[2022-10-18 13:12] dkerr64 commented on #63
Is this a multi-outlet device causing the problem?  If so what is the specific YoLink device/model and how many outlets does it have?  Have you specced the number of outlets in the config file?

Thanks.

[2022-10-22 19:50] dkerr64 commented on #63
@rjjmd89 can you provide more information please.  I need the log data and information on the device you are trying to use.

Thanks.

[2022-10-22 22:46] rjjmd89 commented on #63
This is the device: (only two outlets)
http://www.yosmart.com/support/YS6802-UC/docs/instruction

This is the 5 outlet device 4 outlets plus switchable UBS ports:
http://www.yosmart.com/support/YS6801-UC/docs/instruction

Error in mqttOutletDevice
Please report all bugs at https://github.com/dkerr64/homebridge-yolink/issues
TypeError: Cannot read properties of undefined (reading 'service')
    at

[2022-10-24 21:37] dkerr64 commented on #63
@rjjmd89 thanks for providing the device info.  I suspected that you might have the two-outlet... I don't think anyone has tested that yet.  I don't have either that or the 4+USB power strip, though the power strip has been tested as working.  I will reach out to YoLink and see if they will send me one of each as it is possible that the 2-outlet is sending a JSON data structure that follows a diff

[2022-11-04 00:55] dkerr64 commented on #63
@rjjmd89 I received the two-outlet device to test with and found the bug.  Next release will include the fix. Thank you for reporting it.

[2022-11-05 22:36] dkerr64 commented on #63
Fixes in release 1.3.1

[2022-11-05 22:36] #63 closed